<app-nav-bar></app-nav-bar>
<div class="container mt-5 bg-light p-5">
    <div class="row">
        <div class="col-sm-7">
            <img src="{{product.image}}" alt="" width="500px" height="500px">
            <h5  style="font-size:10px"class="text-muted  mt-2">Product view</h5>
        </div>
        <div class="col-sm-5">
            <h3 style="color: orange; font-weight:bolder; font-size:45px; text-transform:uppercase; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">{{product.name}}</h3>
            <hr>
            <h4 style="font-style: italic; color: tan; font-weight: bold; font-size:30px; padding-bottom:7px ">Description:</h4>
            <h4 class="pb-2" style="font-weight:bold; font-style:italic; font-size:25px">{{product.details}}</h4>
            <h5 class="text-muted pb-3 " style="font-size: 20px">Price:- Rs. {{product.price}}</h5>
         
                <button class="btn btn-outline-warning btn-block" (click)="addToC(product.productId)">Add To Cart</button>
        </div>
    </div>
</div>