<app-nav-bar (childEvent)="this.products=$event"></app-nav-bar>
<div class="container-fluid bg-light d-flex mt-3">
<div  class="container bg-white " style="width: 30%;">
        <h5 class="text-center">Filters</h5>
        <div class="mx-3" style="border-bottom:1px solid #b6a9c2 "></div>
            <div class="">
            <h6 class=" text-center mt-3">CATEGORIES</h6>
             <div class="container text-center">
               <button class="btn btn-outline-warning btn-block"  routerLink='/prodList/clothing'>Clothing</button>
               <br>
               <button class="btn btn-outline-warning btn-block"  routerLink='/prodList/footwear'>Footwear</button>
               <br>
               <button class="btn btn-outline-warning btn-block"  routerLink='/prodList/electronics'>Electronics</button>
               <br>
               <button class="btn btn-outline-warning btn-block"  routerLink='/prodList/books'>Books</button>
               <br>
              </div>
            </div>
        <div class="mx-3" style="border-bottom:1px solid #b6a9c2 "></div>
        <h6 class=" text-center mt-3">PRICE</h6>
        <form class="text-center mt-3">
          <div class="form-check ml-2">
            <label ><input type="radio"class="form-check-input" name="val1" (change)="findByPriceAndCateg(0,500)">Below 500</label>
          </div>
          <div class="form-check  ml-2">
            <label><input type="radio"class="form-check-input" value="" name="val1" min="501" max="1000" (change)="findByPriceAndCateg(501,1000)">501 to 1000</label>
          </div>
          <div class="form-check  ml-2">
            <label><input type="radio"class="form-check-input" value="" name="val1" min="1001" max="2000" (change)="findByPriceAndCateg(1001,2000)">1001 to 2000</label>
          </div>
          <div class="form-check ml-2">
            <label><input type="radio"class="form-check-input" value="" name="val1" min="2001" max="100000" (change)="findByPriceAndCateg(2001,100000)">2001 and above</label>
          </div>
        </form>
      </div>

<div class="container d-flex flex-wrap" style="width:100%">
       <div class="card mx-2 mb-3 p-2"style="width:350px; height:550px; box-shadow:1px 1px 1px 3px grey;" *ngFor="let prod of products">
        <img class="card-img-top " src="{{prod.image}}" alt="Card image" style="width:100%; height: 60%;">
        <div class="card-body">
          <h4 class="card-title " style="color: orange; font-style: italic; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{prod.name}}</h4>
          <p class="card-text" style="font-weight:bolder; color:#343A40">{{prod.desc}}<p>
          <p class="card-text" style="font-weight:bolder; ">RS. {{prod.price}}</p>
          <div class="container d-flex mt-3">
              <button class="btn btn-outline-warning mr-5 " (click)="viewProd(prod)">Buy Now</button>
              <button class="btn btn-outline-warning" (click)="addProd(prod.productId)">Add To Cart</button>
          </div>
          <button class="btn btn-outline-warning btn-block mt-1"  (click)="edit(prod)" *ngIf="loginService.isUserLoggedIn() && role=='Admin'" >Edit Product</button>
        </div>
      </div>
</div>







    </div>

