.navss > ul li a {
    color: #E0A800;
}
.navss > ul li a:hover {
    color: rebeccapurple;
    text-decoration: underline;
}
.categ > .navs ul li a {
    padding-right: 100px;
    color: #E0A800; 
    font-size: 20px;
}
.categ > .navs ul li a:hover {
    text-decoration: underline;
    color: rebeccapurple;

}
*{
    font-family: 'Saira Stencil One', cursive;
  }