<app-nav-bar></app-nav-bar>
<div class="container" >
    <div class="container mt-5 mb-3 bg-light">
        <h3 style="padding: 15px">Add A Product</h3>
    </div>
    <div class="container">
        <form action="#" class="was-validated" >
            <div class="form-group">
              <label for="email">Product Name:</label>
              <input type="text" class="form-control" id="email" placeholder="Enter name" name="nam" [(ngModel)]="prod.name" required>
            </div>
            <div class="form-group">
              <label for="pwd">Product Image:</label>
              <input type="text" class="form-control" id="pwd" placeholder="Enter image" name="img" [(ngModel)]="prod.image" required>
            </div>
            <div class="form-group">
                    <label for="pwd">Product Price:</label>
                    <input type="text" class="form-control" id="pwd" placeholder="Enter price" name="pri" [(ngModel)]="prod.price" required>
                  </div>
                  <div class="form-group">
                        <label for="pwd">Product Description:</label>
                        <input type="text" class="form-control" id="pwd" placeholder="Enter Description" name="desc" [(ngModel)]="prod.details" required>
                      </div>
                      <div class="form-group">
                            <label for="cat">Product Category:</label>
                          <select name="select" id="cat" class="custom-select" required [(ngModel)]="prod.category" >
                              <option>Clothing</option>
                              <option >Footwear</option>
                              <option>Electronics</option>
                              <option>Books</option>
                          </select>
                      </div>
            <button type="submit" class="btn btn-outline-warning btn-block mb-3 mt-2" data-toggle="modal" data-target="#myModal" style="padding: 10px" (click)="addProd()">Add Product</button>
            <div class="modal fade" id="myModal" *ngIf="valid">
                <div class="modal-dialog bg-dark">
                  <div class="modal-content bg-dark">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title text-success">Success!</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      <h3 class="text-warning">{{prod.name}} has been added!</h3>
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>
          </form>
        </div>
</div>