<app-nav-bar></app-nav-bar>
<div class="container-fluid" >
    <div class="carousel slide" id="myCarousel" data-ride="carousel">
            <ul class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ul>
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="assets/cloths.jpg" alt="cloth" height="600px" width="100%">
                          <div class="container clothC">
                              <h3 style="font-weight: bolder; font-style: italic; color: coral; text-shadow: 2px -2px 10px red">"Your apparel appeals for you!"</h3>
                                <h4 style="font-style: italic; color: white">Have a look at our wide range <br> of apparels</h4>
                                <br>
                                <button class="btn btn-dark" style="width: 50%" routerLink="/prodList/Clothing">Buy Now!</button>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <img src="assets/books.jpg" alt="books" height="600px" width="100%">
                          <div class="container booksC text-center">
                                <h3 style="font-weight: bolder; font-size: 35px; font-style: italic; color: white; text-shadow: 2px -2px 20px red">“A room without books is like a body without a soul.”</h3>
                                <h4 style="font-weight: bolder; font-size: 35px;font-style: italic; color:whitesmoke; font-weight: bolder" >Have a look at our wide range <br> of books</h4>
                                <br>
                                <button class="btn btn-warning" style="width: 50%" routerLink="/prodList/books">Buy Now!</button>
                            </div>
                      </div>
                      <div class="carousel-item">
                          <img src="assets/elec.jpg" alt="electronics" height="600px" width="100%">
                          <div class="container elecC">
                          <h3 style="font-weight: bolder; font-size: 20px; font-style: italic; color: white; text-shadow: 2px -2px 10px orange">“Dreams about the future are always filled with gadgets.”</h3>
                                <h4 style="font-weight: bolder; font-size: 20px;font-style: italic; color:whitesmoke; font-weight: bolder" >Have a look at our wide range <br> of gadgets at lowest price.</h4>
                                <br>
                                <button class="btn btn-dark" style="width: 50%" routerLink="/prodList/electronics">Buy Now!</button>
                      </div>
                    </div>
                      <div class="carousel-item">
                          <img src="assets/shoesH.jpg" alt="shoes" height="600px" width="100%">
                          <div class="container shoesC">
                                <h3 style="font-weight: bolder; font-size: 35px; font-style: italic; color: #F27D3D; text-shadow: 2px -2px 8px black">“Good shoes take you to Good places.”</h3>
                                <h4 style="font-weight: bolder; font-size: 35px;font-style: italic; color:white; font-weight: bolder" >Have a look at our trendiest range <br> of footwear</h4>
                                <br>
                                <button class="btn" style="width: 50%; background: #F27D3D" routerLink="/prodList/footwear">Buy Now!</button>
                          </div>
                      </div>
                      
                      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </a>
                          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </a>
                  </div>
    </div>
</div>
<div class="container bg-dark d-flex mt-5 text-center">
    <div class="container Cname mt-4 pb-4 pt-3">
        <h1 class="text-light mb-4" style="font-style: italic; font-weight:bolder; font-size:35px">ShopAll.com</h1>
        <h3 style="color: #F27D3D;font-style: italic;">EST. 2019 | Malhotra & Co.</h3>
    </div>
    <div style="border: 1px solid white; height: 200px; color: red" class="mt-4"></div>
    <div class="container Cdetail mt-4 pb-4 pt-3">
            <h2 style="color: #F27D3D;font-style: italic" class="mb-4">A trusted website for shopping.</h2>
            <h3 class="text-light"style="font-style: italic; font-weight:bolder; font-size:20px" >Bet, you can't get more exciting offers anywhere else!! <br>
                As a collective we aim to inspire each other to achieve camaraderie, wellness and purpose in the pursuit of par</h3>
        </div>
</div>

<div class="container-fluid bests mt-5">
    <div class="row rows">
        <div class="col-sm-6 cols" > 
            <img src="assets/best.jpg" alt="" style="height: 250px; width: 100%;">
            
            <div class="container muted" style="position: absolute; top:55%; left:10%">
            <h3 style="font-weight: bolder; font-size:27px; color:white">Best Sellers</h3>
            <button class="btn btn-dark"><a href="" routerLink='/prodList/clothing'>Shop Now </a></button>
        
        </div>
        </div>
        <div class="col-sm-3">
            <img src="assets/apparel.jpg" alt="" style="height: 250px; width: 100%;">
            <div class="container" style="position: absolute; top:57%; left:27%; color: white">
            <h3>Apparels</h3>
            <button class="btn btn-dark"><a href="" routerLink='/prodList/clothing'>Shop Now </a></button>
        </div>
    </div>
        <div class="col-sm-3">
            <img src="assets/gear.jpg" alt="" style="height: 250px; width: 100%;">
            <div class="container" style="position: absolute; top:57%; left:10%; color: white">
            <h3>Gears</h3>
            <button class="btn btn-dark"><a href="" routerLink='/prodList/electronics'>Shop Now </a></button>
        </div>
    </div>
    </div>    
</div>


    <div class="container mt-5">
            <h3 style="font-style: italic; font-weight:bolder;" class="text-center mb-4">We Curate,You Shop <br> Handpicked Favouritesjust for you.</h3>

        <div class="container">
            <div class="container d-flex">
                <div class="container">
            <img src="assets/shirt.png" alt="shirt">
        </div>
        <div class="container">
            <h3 style="font-weight: bolder; color: coral" >LINEN SHIRTS</h3>
            <h4 style="color: lightgray">Leads to lesser <br>complaints <br> of heat.</h4>
            <a href="" style="color: lightgray" routerLink='/prodList/clothing'>+ Explore More</a>
        </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="container d-flex">
                <div class="container text">
                        <h3 style="font-weight: bolder; color: coral">POOL SLIDERS</h3>
                        <h4 style="color: lightgray; ">Leads to lesser <br>complaints <br> of heat.</h4>
                        <a href="" style="color: lightgray" routerLink='/prodList/footwear'>+ Explore More</a>
                    </div>
                    <div class="container">
                            <img src="assets/slippers.jpg" alt="shirt">
                        </div>
        </div>
    </div>
    </div>

    
   <div class="container-fluid mt-5">
       <h3 style="font-style: italic; font-weight:bolder;" class="text-center">Trending Now <br> From The Runway To Your Wardrobe</h3>
       <div class="row">
           <div class="col-sm-4">
                <div class="container" >
                        <div class="container" >
                            <img src="assets/kur.jpg" alt="kurti">
                        </div>
                        <div class="container">
                        <h3 style="font-weight: bolder; color:coral">Kurta-Plazzo set: Mix 'N' <br>
                        Match Isn't Your Probles</h3>
                        <a href="" style="color: lightgray" routerLink='/prodList/clothing'>+ Explore More</a>
                    </div>
                </div>
           </div>

           <div class="col-sm-4">
                <div class="container" >
                        <div class="container">
                            <img src="assets/dress.jpg" alt="dress">
                        </div>
                        <div class="container">
                        <h3 style="font-weight: bolder; color:coral">Floral dresses: Embrace The <br> Blooming Trends Of The Season.</h3>
                        <a href="" style="color: lightgray" routerLink='/prodList/clothing'>+ Explore More</a>
                    </div>
                </div>    
           </div>


           <div class="col-sm-4">
                <div class="container">
                        <div class="container">
                            <img src="assets/girlTop.jpg" alt="dress">
                        </div>
                        <div class="container">
                        <h3 style="font-weight: bolder; color:coral">Floral dresses: Embrace The <br> Blooming Trends Of The Season.</h3>
                        <a href="" style="color: lightgray" routerLink='/prodList/clothing'>+ Explore More</a>
                    </div>
                </div>    
           </div>


       </div>
   </div>

   <!--shoes-->
<div class="container-fluid mt-5 mb-3">
    <h2 class="text-center" style="font-weight: bolder; font-style:italic; font-size: 50px">Our Trendiest Shoe Collection <br> Is Right Here</h2>
    <div class="row">
        <div class="col-sm-3">
            <img src="assets/jordan.jpg" alt="nike jordan" style="width: 100%;">
                <h4 style="text-align: left; font-weight: bolder; color: lightgray">Nike Jordan</h4>
                <h4 style="color: lightgray">Men's Shoes</h4>
        </div>
        <div class="col-sm-3">
            <img src="assets/customNike.jpg" alt=""  style="width: 100%;">
            <h4 style="text-align: left; font-weight: bolder; color: lightgray">Nike Custom</h4>
            <h4 style="color: lightgray">Men's Shoes</h4>
        </div>
        <div class="col-sm-3">
                <img src="assets/alpha.jpg" alt=""  style="width: 100%;">
                <h4 style="text-align: left; font-weight: bolder; color: lightgray">Adidas AlphaBounce</h4>
                <h4 style="color: lightgray">Men's Shoes</h4>
            </div>

            <div class="col-sm-3">
                    <img src="assets/jordan.jpg" alt=""  style="width: 100%;opacity: 0.1;">
                   <button class="btn btn-outline-warning btn-block mt-3" routerLink='/prodList/footwear'>Click To View More</button>
            </div>
    </div>
</div>

<!--books-->
<div class="container-fluid mt-5 mb-3" >
        <h4 class="text-center" style="font-weight: bolder; font-style:italic;  font-size: 50px">Buy Books, Read Books, Repeat!</h4>
        <div class="row">
            <div class="col-sm-3">
                <img src="assets/book1.jpg" alt="nike jordan" style="width: 80%; height:70%">
                    <h4 style="text-align: left; font-weight: bolder; color: lightgray">Believe In Yourself</h4>
                    <h4 style="color: lightgray">Dr Joseph Murphey</h4>
            </div>
            <div class="col-sm-3">
                <img src="assets/book2.jpg" alt=""  style="width: 80%; height:70%">
                <h4 style="text-align: left; font-weight: bolder; color: lightgray">The Girl Who Knew Too Much</h4>
                <h4 style="color: lightgray">Vikrant Khanna</h4>
            </div>
            <div class="col-sm-3">
                    <img src="assets/book3.jpg" alt=""  style="width: 80%; height:70%">
                    <h4 style="text-align: left; font-weight: bolder; color: lightgray">One Indian Girl</h4>
                    <h4 style="color: lightgray">Chetan Bhagat</h4>
                </div>
    
                <div class="col-sm-3">
                        <img src="assets/book4.jpg" alt=""  style="width: 80%; height:70%   ;opacity: 0.1;">
                       <button class="btn btn-outline-warning btn-block mt-3" routerLink='/prodList/books'>Click To View More</button>
                </div>
        </div>
    </div>
    
    <!--clothing-->
    <div class="container-fluid mt-5 mb-3" >
            <h4 class="text-center" style="font-weight: bolder; font-style:italic;  font-size: 50px">Stuff You Can't Find Anywhere Else.</h4>
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/shirt1.jpg" alt="nike jordan">
                        <h4 style="text-align: left; font-weight: bolder; color: lightgray">Here&Now</h4>
                        <h4 style="color: lightgray">Men Regular Fit Casual Shirt</h4>
                </div>
                <div class="col-sm-3">
                    <img src="assets/shirt2.jpg" alt=""  >
                    <h4 style="text-align: left; font-weight: bolder; color: lightgray">Jack&Jones</h4>
                    <h4 style="color: lightgray">Men Casual Shirt</h4>
                </div>
                <div class="col-sm-3">
                        <img src="assets/shirt3.jpg" alt="" >
                        <h4 style="text-align: left; font-weight: bolder; color: lightgray">Roadster</h4>
                        <h4 style="color: lightgray">Skin Fit Shirt</h4>
                    </div>
        
                    <div class="col-sm-3">
                            <img src="assets/shirt4.jpg" alt=""  style="opacity: 0.1;">
                           <button class="btn btn-outline-warning btn-block mt-3" routerLink='/prodList/clothing'>Click To View More</button>
                    </div>
            </div>
        </div>

