
 *{
     box-sizing: border-box;
    
 }
 .clothC{
      position: absolute;
      top:40%;
      left: 45%; 
 }
 .booksC{
    
     position: absolute;
     top: 50%;
     left: 15%;
 }
 .shoesC
 {
     position: absolute;
     top: 60%;
     left: 15%;
 }
.elecC{
    position: absolute;
    top: 69%;
    left: 60%;
}
.text{
    text-align: right;
}
