.block{
    height:auto;
    width:auto;
  }
  
  .side-style{
    border-left : 8px solid green;
  }
  .badge{
    background-color: skyblue;
    color:white;
    border : 1px solid black;
  }

  *{
    font-family: 'Saira Stencil One', cursive;
  }